<!-- <ion-view title='<img class="title-image" src="img/logo.png" />' class="background">

	<ion-nav-buttons side="right">
        <button class="button button-link button-clear" ng-click="openModal() ">
            <i class="ion-ios-information-outline" style="font-size:25px"></i>
        </button>
    </ion-nav-buttons>

	<ion-content>

			<div class="list" style="margin-bottom:0px">
				<label class="item item-input item-select">
					<div class="input-label" style="color:white">
						Choose your city
					</div>
				
					<select ng-model="selCity" ng-change="fetchCab(selCity)">	
						<option value="">-select city-</option>
						<option ng-repeat="city in cities" value="{{city.city_id}}">{{city.city_name}}</option>
					</select>
					
				</label>
			</div>

			
			<ion-scroll direction="x" class="wide-as-needed">
        	<a class="button  button-clear" ng-repeat="cab in cabs" ng-click="getCab(cab.cab_id)" style="color:white">
        	{{cab.cab_name}}
        	</a>
        	</ion-scroll>


        	<div class="row header topBottomBorder text-center hed" ng-show="fairs.data.length">
				<div class="col borderRight" style="padding-left: 10px!important;">Distance</div>
				<div class="col borderRight" style="margin-right:5px!important;">Day Fare</div>
				<div class="col">Night Fare</div>
			</div>
			
 			<ion-scroll direction="y" class="imgClass scrollDiv">
				<div class="tableClass" ng-show="fairs.data.length">
					<div class="row text-center tblRow" ng-repeat="fair in fairs.data" ng-class="0==1? 'trans' : ''">
						<div class="col borderRight" >{{fair.distance}}</div>
						<div class="col borderRight" >{{fair.dayfair}}</div>
						<div class="col">{{fair.nightfair}}</div>
					</div>
				</div>			
			</ion-scroll>

			<div style="padding-bottom: 0px;" class="row topBorder" ng-show="fairs.data.length"></div>

    </ion-content>

    <div class="bar bar-subfooter bar-dark auto-height bordar">
    	<div class="row header tableClass1 text-center" ng-show="fairs.data.length && is_contact_display">
				<div class="col btncol borderRight" style="padding-left: 9px!important;">
					<a style="color:white" class="btn ion-android-call btn-clear" ng-href="tel:{{fairs.ContactNumber}}"></a>
				</div>
				<div class="col btncol borderRight" style="margin-right:5px;">
					<a style="color:white" class="btn ion-android-call btn-clear" ng-href="tel:{{fairs.ContactNumber}}"></a>
				</div>
				<div class="col btncol">
					<a style="color:white" class="btn ion-android-call btn-clear" ng-href="tel:{{fairs.ContactNumber}}"></a>
				</div>
		</div>
	</div>

	<div class="bar bar-footer bar-dark">
		<div class="buttons">
			<p>
			{{fairs.BottomMessage}}
			</p>
		</div>
		<h1 class="title"></h1>
		<div class="buttons">
			<a href="#/map" class="button button-small button-energized" style="color:black">Travel Map</a>
		</div>
	</div>
</ion-view>
 -->

<ion-pane class="background imgClass" ng-show="isLoaded">
	<div class="bar bar-header bar-dark" style="height:{{select_height}} !important;" >
	
	<ion-content>
		<div style="height:44px">
            <!-- type="submit" value="Submit" -->
			<button class="btn btn-default" onclick="window.plugins.socialsharing.share('canberrataxifare', null, null, 'https://play.google.com/store/apps/details?id=com.ud.CanberraTaxiFare')"  style="font-size:15px;float:left;padding:8px 0px 0px 5px; color: white;background-color:#464242; border-style: none;" >SHARE</button>
			
			<!-- <a href="window.plugins.socialsharing.share('canberrataxifare', null, null, 'https://play.google.com/store/apps/details?id=com.ud.canberrataxifare&hl=en')" style="text-decoration:none;color:white;font-size:15px;float:left;padding:6px 6px 6px 6px">share</a> -->
			<!-- <button class="button button-small button-clear ion-android-share-alt" onclick="window.plugins.socialsharing.share('canberrataxifare', null, null, 'https://play.google.com/store/apps/details?id=com.ud.canberrataxifare&hl=en')"  style="font-size:25px;float:right;padding:4px 6px 0px 0px"></button>  -->
			<button class="button button-small button-clear ion-ios-information-outline" ng-click="openModal()" style="font-size:25px;float:right;padding:4px 6px 0px 0px"></button>
			<center><img class="title-image" src="img/logo.png" /></center>
		</div>
		
		<div class="list" style="margin-bottom:0px" ng-hide="is_hide_city">
			<label class="item item-input item-select">
				<div class="input-label" style="color:white">
					Choose your city
					
				</div>
			
				<select ng-model="selCity" ng-change="fetchCab(selCity)" ng-options='x.city_id as x.city_name for x in cities'>	
				</select>
				
			</label>
		</div>

		<ion-scroll direction="x" class="wide-as-needed">
        	<a class="button  button-clear" ng-class="selectCab==cab.cab_id? 'selectYellow' : ''" ng-repeat="cab in cabs" ng-click="getCab(cab.cab_id)" style="color:white;">
        	&nbsp;&nbsp;{{cab.cab_name}}&nbsp;&nbsp;
        	</a>
        	</ion-scroll>


        	<div class="row header topBottomBorder text-center hed" ng-show="fairs.data.length">
				<div class="col borderRight" style="padding-left: 10px!important;">Distance</div>
				<div class="col borderRight" style="margin-right:5px!important;">Day Fare</div>
				<div class="col">Night Fare</div>
			</div>
		</ion-content>
		
	</div>


	<ion-content class="has-header has-footer" style='top:{{select_height}};bottom:{{bottomPix}}' > 

			<div class="tableClass" ng-show="fairs.data.length">
				<div class="row text-center tblRow" ng-repeat="fair in fairs.data" ng-class="0==1? 'trans' : ''">
					<div class="col borderRight" >{{fair.distance}}</div>
					<div class="col borderRight" >{{fair.dayfair}}</div>
					<div class="col">{{fair.nightfair}}</div>
				</div>
			</div>
    	

    </ion-content>

    <div class="bar bar-subfooter bar-dark bordarTop" style="height:0.5px">
    	<div style="padding-bottom: 0px;" class="row topBorder"></div>
    </div>

    <div class="bar bar-subfooter bar-dark auto-height bordar"  ng-show="fairs.data.length && is_contact_display">
    	<div class="row header tableClass1 text-center">
				<div class="col btncol borderRight" style="padding-left: 9px!important;">
					<a style="color:white" class="btn ion-android-call btn-clear" ng-href="tel:{{fairs.ContactNumber}}"></a>
				</div>
				<div class="col btncol borderRight" style="margin-right:5px;">
					<a style="color:white" class="btn ion-android-call btn-clear" ng-href="tel:{{fairs.ContactNumber}}"></a>
				</div>
				<div class="col btncol">
					<a style="color:white" class="btn ion-android-call btn-clear" ng-href="tel:{{fairs.ContactNumber}}"></a>
				</div>
		</div>
	</div>

	<div class="bar bar-footer bar-dark">
			
		<ion-content>

		</ion-content>

		<div class="buttons">
			<p style="width:200px"> 
			{{fairs.BottomMessage}}
			</p>
		</div>
		<h1 class="title"></h1>
		
		<div class="buttons">
			<a href="#/map"  class="button button-small button-energized" style="color:black">Travel Map</a>
		</div>
	</div>

</ion-pane>